<html title="Wave Mapper">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});
        google.charts.load("current", {
            "packages":['map','geochart', 'table'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            "mapsApiKey": "{{mapsApiKey}}",
            "callback": drawMap
        });
        // google.charts.setOnLoadCallback(drawMap);
        var waveurl = 'https://icons.iconarchive.com/icons/iconsmind/outline/'
        var sharkicon ="https://icons.iconarchive.com/icons/martin-berube/animal/32/shark-icon.png"
        var sailboaticon = "https://icons.iconarchive.com/icons/aha-soft/transport/32/sailing-ship-icon.png"
        var pirateshipico = "https://icons.iconarchive.com/icons/pixelpress/pirates/48/Pirate-Ship-icon.png"
        var notavailable = "https://icons.iconarchive.com/icons/webiconset/blogging/16/Not-Available-for-Work-icon.png"
        var starticon = "https://icons.iconarchive.com/icons/custom-icon-design/pretty-office-8/24/Flag-yellow-icon.png"
        var finishicon = "https://icons.iconarchive.com/icons/icons8/windows-8/48/Sports-Finish-Flag-icon.png"
        var waveicon = 'Wave-icon.png'

        var options = {
            zoomLevel: 3,
            showTooltip: true,
            showInfoWindow: true,
            useMapTypeControl: true,
            showLine: true,
            icons: {
                verybig: {
                    normal:   waveurl + '/72/' + waveicon,
                    selected: waveurl + '/72/' + waveicon
                },
                big: {
                    normal:   waveurl + '/64/' + waveicon,
                    selected: waveurl + '/64/' + waveicon
                },
                medium: {
                    normal:   waveurl + '/48/' + waveicon,
                    selected: waveurl + '/48/' + waveicon
                },
                small: {
                    normal:   waveurl + '/32/' + waveicon,
                    selected: waveurl + '/32/' + waveicon
                },
                verysmall: {
                    normal:   waveurl + '/24/' + waveicon,
                    selected: waveurl + '/24/' + waveicon,
                },
                shark: {
                    normal:   sharkicon,
                    selected: sharkicon,
                },
                boat: {
                    normal:   sailboaticon,
                    selected: sailboaticon,
                },
                start: {
                    normal:   starticon,
                    selected: starticon,
                },
                finish: {
                    normal:   finishicon,
                    selected: finishicon,
                },
                pirate: {
                    normal:   pirateshipico,
                    selected: pirateshipico,
                },
                notavailable: {
                    normal:   notavailable,
                    selected: notavailable,
                }
            }
        };


        function drawChart() {

             var data = google.visualization.arrayToDataTable([{{{waveData}}}]);

            //Graph styling and legend
            var options = {
                title: 'sumVar2 (%)',
                curveType: 'function',
                legend: { position: 'bottom' },
                vAxis: { title: 'someVar2 %'},
                hAxis: { title: 'someVar1'}
            };
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        function redoMap() {
                var dataArray = [['Lat', 'Long', 'Name', 'Marker'],[49.9167,-2.883,'CHANNEL  0.0m 44km E', 'notavailable']];
                reDrawMap(dataArray);
        }

        function reDrawMap(dataArray) {
<!--            var data = google.visualization.arrayToDataTable(newData)-->
            var data = google.visualization.arrayToDataTable(dataArray);
            var map = new google.visualization.Map(document.getElementById('map_div'));
            map.draw(data, options);

            var table =
                    new google.visualization.Table(document.getElementById('table_div'));
            table.draw(data, {showRowNumber: false, width: '100%', height: '100%'});

            google.visualization.events.addListener(map, 'select',
                    function() {
                        table.setSelection(map.getSelection());
                    });
        }

        function drawMap() {
            var data = google.visualization.arrayToDataTable([{{{waveData}}}])
            var map = new google.visualization.Map(document.getElementById('map_div'));
            map.draw(data, options);

            var table =
                    new google.visualization.Table(document.getElementById('table_div'));
            table.draw(data, {showRowNumber: false, width: '100%', height: '100%'});

            google.visualization.events.addListener(map, 'select',
                    function() {
                        table.setSelection(map.getSelection());
                    });

        }


    </script>
    <script type="text/javascript">
        function sendMessage(data)  {
            const conn = new WebSocket(
                  "ws://localhost/message/david"
            );
            conn.onmessage = function(e){
                if (typeof e.data === 'string'){
                    var parsedData = e.data.replace(/\\"/g, '"')
                    var obj = JSON.parse(parsedData);
                    console.log(obj);
                    reDrawMap(obj);
                }
            };
            conn.onopen = () => conn.send('hello');
        }
        function move(data)  {
            const conn = new WebSocket(
                  "ws://localhost/move"
            );
            conn.onmessage = function(e){
                if (typeof e.data === 'string'){
                    var parsedData = e.data.replace(/\\"/g, '"')
                    var obj = JSON.parse(parsedData);
                    console.log(obj);
                    reDrawMap(obj);
                }
            };
            conn.onopen = () => conn.send('hello');
        }
        function start(data)  {
            const conn = new WebSocket(
                  "ws://localhost/start"
            );
            conn.onmessage = function(e){
                if (typeof e.data === 'string'){
                    var parsedData = e.data.replace(/\\"/g, '"')
                    var obj = JSON.parse(parsedData);
                    console.log(obj);
                    reDrawMap(obj);
                }
            };
            conn.onopen = () => conn.send('hello');
        }
    </script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
<table align="center" width="100%" height="100%">
    <tr valign="top">
        <td style="width: 50%;">
            <div id="map_div" style="width: 100%; height: 100%;"></div>
        </td>
        <td style="width: 50%; height: 30%">
            <table align="center" width="100%" height="100%">
                <tr valign="top">
                    <td style="width: 100%;" colspan="2">
                        <div id="table_div"></div>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="width: 50%;height: 10%">
                        <div id="action_form" style="align: left; vertical-align: top; width: 100%; height: 10%;">
                            <form action="/" method="POST" class="form-example">
                                <div class="form-example">
                                    <table>
                                        <tr>
                                            <td>Name</td>
                                            <td><input type="test" name="name" id="name_ip" required></td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td>
                                                <select id="pieceType" name="pieceType">
                                                    <option value="BOAT">Boat</option>
                                                    <option value="SHARK">Shark</option>
                                                    <option value="PIRATE">Pirate</option>
                                                    <option value="START">Start</option>
                                                    <option value="FINISH">Finish</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Lat</td>
                                            <td><input type="text" name="lat" id="lat_ip" required></td>
                                        </tr>
                                        <tr>
                                            <td>Lon</td>
                                            <td><input type="text" name="lon" id="long_ip" required></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-example">
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="clear_form" style="align: left; vertical-align: top; width: 100%; height: 50%;">
                                        <button onclick="start()">Start</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-clear">
                                        <button onclick="move()">Move</button>
                                    </div>
                                </td>
                                <td>
                                    <div id="clear_form" style="align: left; vertical-align: top; width: 100%; height: 50%;">
                                        <button onclick="sendMessage()">Refresh</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr valign="top">
                    <td height="20">Players</td>
                    <td height="20">Distance to finish (km)</td>
                    <td height="20">Distance from prirates (km)</td>
                </tr>
                {{#each players}}
                    <tr valign="top">
                            <td><div class="row">{{ pieceLocation.name }}</div></td>
                            <td><div class="row">{{ distanceToFinish }}(km)</div></td>
                            <td><div class="row">
                                {{#each distanceFromPirates}}
                                    <table align="center" width="100%" height="100%">
                                        <tr><td>{{pirateName}}</td><td>{{distance}}</td></tr>
                                    </table>
                                {{/each}}
                            </td>
                    </tr>
                {{/each}}
            </table>
        </td>
    </tr>
    <tr>
        <td colSpan=1>
            <div id="chart_div" style="align: center; width: 100%; height: 50%;"></div>
        </td>
    </tr>
</table>
</body>
</html>
